body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background: #282c34;
  color:bisque;
  overflow: hidden;
  display: flex, block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
